.page-builder {
    position: relative;
    height: 80%;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.5);
    margin-bottom: 0.75rem;
    padding: 0 0.5rem;
}

.page-builder__header {
    height: 5%;
    padding: 0.25rem 0.25rem;
}

.page-builder__content {
    height: 95%;
    background-color: #ffffff;
}

.page-builder__print-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}