.h-5{
    height: 5vh;
}

.h-5-relative {
    height: 5%;
}

.h-10{
    height: 10vh;
}
  
.h-15{
    height: 15vh;
}

.h-15-relative{
    height: 15%;
}

.h-20{
    height: 20vh;
}

.h-40{
    height: 40vh;
}

.h-40-relative{
    height: 40%;
}

.h-60-relative{
    height: 60%;
}

.h-75{
    height: 75vh;
}

.h-80 {
    height: 80vh;
}

.h-85{
    height: 85vh;
}

.h-85-relative{
    height: 85%;
}

.h-90{
    height: 90vh;
}

.h-95-relative {
    height: 95%;
}