.w-5{
  width: 4vw;
}

.w-10{
  width: 10vw;
}

.w-25{
  width: 25vw;
}

.w-30{
  width: 30vw;
}

.w-75{
  width: 75vw;
}

.w-90{
  width: 90%;
}
  
.w-95{
  width: 96vw;
}

@media (max-width: 950px){
  .w-5{
    width: 7vw;
  }
  .w-95{
    width: 93vw;
  }
}