.current-color {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    color: #dfdbdb;
}

.current-color__container {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.2);
    padding: 0.8rem 0.5rem;
    border: 1px solid rgba(255,255,255,0.07);
    border-radius: 0.25rem;
}

.current-color__container > div {
    padding: 1.5rem;
}


